# Import Libraries

In [10]:
import pandas as pd
import numpy as np
import datetime

## Date & Time Functions

In [11]:
# def occurence_time(row):
#     if row['OccurTime'] < 800:
#         return "Morning"
#     elif row['OccurTime'] < 1600:
#         return "Day"
#     else:
#         return "Evening"

def print_month(row):
    cur_date = row['Date']
    month, day, year = (int(x) for x in cur_date.split('/'))    
    month = int(month)
    return month

def day_of_month(row):
    cur_date = row['Date']
    month, day, year = (int(x) for x in cur_date.split('/'))    
    day = int(day)
    return day

def year(row):
    cur_date = row['Date']
    month, day, year = (int(x) for x in cur_date.split('/'))    
    year = int(year)
    return year

def day_of_week(row):
    cur_date = row['Date']
    month, day, year = (int(x) for x in cur_date.split('/'))    
    dt = datetime.date(year, month, day)
    return(dt.weekday())

# Manipulate and Export

In [12]:
file = open('bigdaddy.txt','r').read()
user_dict = eval(file)

data = pd.DataFrame.from_dict({(i,j): user_dict[i][j]
                           for i in user_dict.keys() 
                           for j in user_dict[i].keys()},
                       orient='index')

data.reset_index(inplace=True)

#Turn index tuple into 2 features
new_col_list = ['Neighborhood','Date']
for n,col in enumerate(new_col_list):
    data[col] = data['index'].apply(lambda cat: cat[n])
data = data.drop('index',axis=1)

#rename features
print(data.columns)
data.rename(columns={0: 'Category 1', 1: 'Category 2',
                     2: 'Category 3',3: 'Category 4'}, inplace=True)

#Extract date features
data['Year'] = data.apply(lambda row: year(row), axis=1)
data['Month'] = data.apply(lambda row: print_month(row), axis=1)
data['Day of Month'] = data.apply(lambda row: day_of_month(row), axis=1)
data['Day of Week'] = data.apply(lambda row: day_of_week(row), axis=1)
#data['Shift Occurence'] = data.apply (lambda row: occurence_time(row),axis=1)

#Reorder Columns
data = data[['Neighborhood','Date','Year','Month','Day of Month','Day of Week'
             ,'Category 1', 'Category 2', 'Category 3', 'Category 4']]
#Export
data.to_csv("bigdaddy.csv", index=False)
print(data.columns.values)
data

Index([0, 1, 2, 3, 'Neighborhood', 'Date'], dtype='object')
['Neighborhood' 'Date' 'Year' 'Month' 'Day of Month' 'Day of Week'
 'Category 1' 'Category 2' 'Category 3' 'Category 4']

,Neighborhood,Date,Year,Month,Day of Month,Day of Week,Category 1,Category 2,Category 3,Category 4
0,Greenbriar,1/1/09,9,1,1,3,0,0,2,4
1,Greenbriar,1/2/09,9,1,2,4,0,0,1,1
2,Greenbriar,1/3/09,9,1,3,5,0,0,1,1
3,Greenbriar,1/4/09,9,1,4,6,0,0,2,0
4,Greenbriar,1/5/09,9,1,5,0,0,0,2,2
5,Greenbriar,1/6/09,9,1,6,1,0,0,0,1
6,Greenbriar,1/7/09,9,1,7,2,0,0,0,3
7,Greenbriar,1/8/09,9,1,8,3,0,0,1,1
8,Greenbriar,1/9/09,9,1,9,4,0,1,0,0
9,Greenbriar,1/10/09,9,1,10,5,0,0,1,0
10,Greenbriar,1/11/09,9,1,11,6,0,1,0,0
11,Greenbriar,1/12/09,9,1,12,0,0,0,0,0
12,Greenbriar,1/13/09,9,1,13,1,0,0,2,2
13,Greenbriar,1/14/09,9,1,14,2,0,0,1,3
14,Greenbriar,1/15/09,9,1,15,3,0,0,0,1
15,Greenbriar,1/16/09,9,1,16,4,0,0,2,2
16,Greenbriar,1/17/09,9,1,17,5,0,0,1,2
17,Greenbriar,1/18/09,9,1,18,6,0,0,0,2
18,Greenbriar,1/19/09,9,1,19,0,0,0,1,0
19,Greenbriar,1/20/09,9,1,20,1,0,0,1,0
20,Greenbriar,1/21/09,9,1,21,2,0,0,1,1
21,Greenbriar,1/22/09,9,1,22,3,0,0,0,0
22,Greenbriar,1/23/09,9,1,23,4,0,0,2,1
23,Greenbriar,1/24/09,9,1,24,5,0,0,2,1
24,Greenbriar,1/25/09,9,1,25,6,0,0,0,0
25,Greenbriar,1/26/09,9,1,26,0,0,0,0,0
26,Greenbriar,1/27/09,9,1,27,1,0,0,1,0
27,Greenbriar,1/28/09,9,1,28,2,0,0,0,0
28,Greenbriar,1/29/09,9,1,29,3,0,0,2,0
29,Greenbriar,1/30/09,9,1,30,4,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...
732170,Edmund Park,12/2/18,18,12,2,6,0,0,0,0
732171,Edmund Park,12/3/18,18,12,3,0,0,0,0,0
732172,Edmund Park,12/4/18,18,12,4,1,0,0,0,0
732173,Edmund Park,12/5/18,18,12,5,2,0,0,0,0
732174,Edmund Park,12/6/18,18,12,6,3,0,0,0,0
732175,Edmund Park,12/7/18,18,12,7,4,0,0,0,0
732176,Edmund Park,12/8/18,18,12,8,5,0,0,0,0
732177,Edmund Park,12/9/18,18,12,9,6,0,0,0,0
732178,Edmund Park,12/10/18,18,12,10,0,0,0,0,0
732179,Edmund Park,12/11/18,18,12,11,1,0,0,0,0
732180,Edmund Park,12/12/18,18,12,12,2,0,0,0,0
732181,Edmund Park,12/13/18,18,12,13,3,0,0,0,0
732182,Edmund Park,12/14/18,18,12,14,4,0,0,0,0
732183,Edmund Park,12/15/18,18,12,15,5,0,0,0,0
732184,Edmund Park,12/16/18,18,12,16,6,0,0,0,0
732185,Edmund Park,12/17/18,18,12,17,0,0,0,0,0
732186,Edmund Park,12/18/18,18,12,18,1,0,0,0,0
732187,Edmund Park,12/19/18,18,12,19,2,0,0,0,0
732188,Edmund Park,12/20/18,18,12,20,3,0,0,0,0
732189,Edmund Park,12/21/18,18,12,21,4,0,0,0,0
732190,Edmund Park,12/22/18,18,12,22,5,0,0,0,0
732191,Edmund Park,12/23/18,18,12,23,6,0,0,0,0
732192,Edmund Park,12/24/18,18,12,24,0,0,0,0,0
732193,Edmund Park,12/25/18,18,12,25,1,0,0,0,0
732194,Edmund Park,12/26/18,18,12,26,2,0,0,0,0
732195,Edmund Park,12/27/18,18,12,27,3,0,0,0,0
732196,Edmund Park,12/28/18,18,12,28,4,0,0,0,0
732197,Edmund Park,12/29/18,18,12,29,5,0,0,0,0
732198,Edmund Park,12/30/18,18,12,30,6,0,0,0,0
732199,Edmund Park,12/31/18,18,12,31,0,0,0,0,0