In [206]:
#Import Libraries
import pandas as pd
import numpy as np

In [207]:
#Open Dict File
file = open('summary.txt','r').read()
user_dict = eval(file)

In [224]:
#Turn nested dict into dataframe
data = pd.DataFrame.from_dict({(i,j,k): user_dict[i][j][k]
                           for i in user_dict.keys() 
                           for j in user_dict[i].keys()
                           for k in user_dict[i][j].keys()},
                       orient='index')

#Turn multiindex into single index
data.reset_index(inplace=True)

#turn shifts from three features to a single feature 
data = data.melt(id_vars=["level_0", "level_1","level_2"], var_name="Shift", value_name="Categories")
data = data.sort_values(["level_0", "level_1","level_2"])
data = data.reset_index(drop=True)

#rename features
data.rename(columns={'level_0': 'Neighborhood', 'level_1': 'Month', 'level_2': 'Day'}, inplace=True)

#Turn category tuple into 4 features
new_col_list = ['Category 1','Category 2','Category 3','Category 4']
for n,col in enumerate(new_col_list):
    data[col] = data['Categories'].apply(lambda cat: cat[n])

data = data.drop('Categories',axis=1)

data.to_csv("cobra-counts.csv", index=False)

data.head()

,Neighborhood,Month,Day,Shift,Category 1,Category 2,Category 3,Category 4
0,Adair Park,1,0,Morning,0,0,1,1
1,Adair Park,1,0,Day,0,0,3,4
2,Adair Park,1,0,Evening,0,1,2,4
3,Adair Park,1,1,Morning,0,0,2,1
4,Adair Park,1,1,Day,0,4,3,2