# Import Libraries

In [65]:
import pandas as pd
import numpy as np
import datetime

## Date & Time Functions

In [66]:
# def occurence_time(row):
#     if row['OccurTime'] < 800:
#         return "Morning"
#     elif row['OccurTime'] < 1600:
#         return "Day"
#     else:
#         return "Evening"

def print_month(row):
    cur_date = row['Date']
    year, month, day = (int(x) for x in cur_date.split('-'))    
    month = int(month)
    return month

def day_of_month(row):
    cur_date = row['Date']
    year, month, day = (int(x) for x in cur_date.split('-'))    
    day = int(day)
    return day

def year(row):
    cur_date = row['Date']
    year, month, day = (int(x) for x in cur_date.split('-'))    
    year = int(year)
    return year

def day_of_week(row):
    cur_date = row['Date']
    year, month, day = (int(x) for x in cur_date.split('-'))    
    dt = datetime.date(year, month, day)
    return(dt.weekday())

# Manipulate and Export

In [67]:
file = open('generalized.txt','r').read()
user_dict = eval(file)

data = pd.DataFrame.from_dict(user_dict,orient='index')
data.reset_index(inplace=True)

#rename features
print(data.columns)
data.rename(columns={'index': 'Date', 0: 'Category 1', 1: 'Category 2',
                     2: 'Category 3',3: 'Category 4'}, inplace=True)

#Extract date features
data['Year'] = data.apply(lambda row: year(row), axis=1)
data['Month'] = data.apply(lambda row: print_month(row), axis=1)
data['Day of Month'] = data.apply(lambda row: day_of_month(row), axis=1)
data['Day of Week'] = data.apply(lambda row: day_of_week(row), axis=1)
#data['Shift Occurence'] = data.apply (lambda row: occurence_time(row),axis=1)

#Reorder Columns
data = data[['Date','Year','Month','Day of Month','Day of Week'
             ,'Category 1', 'Category 2', 'Category 3', 'Category 4']]
#Export
data.to_csv("cobra-generalized.csv", index=False)
print(data.columns.values)
data

Index(['index', 0, 1, 2, 3], dtype='object')
['Date' 'Year' 'Month' 'Day of Month' 'Day of Week' 'Category 1'
 'Category 2' 'Category 3' 'Category 4']

,Date,Year,Month,Day of Month,Day of Week,Category 1,Category 2,Category 3,Category 4
0,2009-01-01,2009,1,1,3,0,9,20,21
1,2009-01-02,2009,1,2,4,0,7,25,40
2,2009-01-03,2009,1,3,5,1,8,16,27
3,2009-01-04,2009,1,4,6,0,11,17,23
4,2009-01-05,2009,1,5,0,0,5,27,40
5,2009-01-06,2009,1,6,1,0,4,19,33
6,2009-01-07,2009,1,7,2,0,6,20,26
7,2009-01-08,2009,1,8,3,0,2,27,24
8,2009-01-09,2009,1,9,4,0,7,28,31
9,2009-01-10,2009,1,10,5,1,10,17,26
10,2009-01-11,2009,1,11,6,0,5,17,14
11,2009-01-12,2009,1,12,0,0,3,19,19
12,2009-01-13,2009,1,13,1,0,5,27,29
13,2009-01-14,2009,1,14,2,1,7,17,20
14,2009-01-15,2009,1,15,3,0,4,18,24
15,2009-01-16,2009,1,16,4,0,5,19,27
16,2009-01-17,2009,1,17,5,0,2,15,34
17,2009-01-18,2009,1,18,6,0,13,11,28
18,2009-01-19,2009,1,19,0,0,2,17,24
19,2009-01-20,2009,1,20,1,0,7,17,21
20,2009-01-21,2009,1,21,2,0,3,16,25
21,2009-01-22,2009,1,22,3,0,6,18,34
22,2009-01-23,2009,1,23,4,0,11,29,26
23,2009-01-24,2009,1,24,5,1,5,10,32
24,2009-01-25,2009,1,25,6,0,8,12,19
25,2009-01-26,2009,1,26,0,0,11,14,35
26,2009-01-27,2009,1,27,1,0,6,22,29
27,2009-01-28,2009,1,28,2,0,6,17,28
28,2009-01-29,2009,1,29,3,0,8,17,21
29,2009-01-30,2009,1,30,4,2,5,30,35
...,...,...,...,...,...,...,...,...,...
3622,2018-12-02,2018,12,2,6,0,4,7,27
3623,2018-12-03,2018,12,3,0,2,7,8,34
3624,2018-12-04,2018,12,4,1,0,4,8,30
3625,2018-12-05,2018,12,5,2,0,3,3,23
3626,2018-12-06,2018,12,6,3,0,5,6,26
3627,2018-12-07,2018,12,7,4,0,4,4,50
3628,2018-12-08,2018,12,8,5,0,5,3,32
3629,2018-12-09,2018,12,9,6,0,2,5,20
3630,2018-12-10,2018,12,10,0,1,2,5,34
3631,2018-12-11,2018,12,11,1,0,1,5,33
3632,2018-12-12,2018,12,12,2,0,6,2,29
3633,2018-12-13,2018,12,13,3,1,6,10,44
3634,2018-12-14,2018,12,14,4,0,3,6,50
3635,2018-12-15,2018,12,15,5,0,2,4,36
3636,2018-12-16,2018,12,16,6,1,6,2,32
3637,2018-12-17,2018,12,17,0,1,1,11,27
3638,2018-12-18,2018,12,18,1,0,5,6,31
3639,2018-12-19,2018,12,19,2,2,3,6,26
3640,2018-12-20,2018,12,20,3,0,1,11,24
3641,2018-12-21,2018,12,21,4,0,3,10,27
3642,2018-12-22,2018,12,22,5,0,4,4,19
3643,2018-12-23,2018,12,23,6,1,8,10,22
3644,2018-12-24,2018,12,24,0,1,2,9,34
3645,2018-12-25,2018,12,25,1,0,6,3,9
3646,2018-12-26,2018,12,26,2,0,1,6,27
3647,2018-12-27,2018,12,27,3,0,4,4,31
3648,2018-12-28,2018,12,28,4,0,0,4,41
3649,2018-12-29,2018,12,29,5,0,6,4,27
3650,2018-12-30,2018,12,30,6,1,4,6,24
3651,2018-12-31,2018,12,31,0,0,5,3,23