## Import Packages

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

## Load in Data

In [4]:
data = pd.read_csv("cobra-clean.csv", sep=',', header=0, engine='python', usecols = lambda column : column in ["Occur Time", "Latitude", "Longitude"])
data.head()

   Occur Time  Longitude  Latitude
0        1145  -84.49328  33.68845
1        1330  -84.39201  33.75320
2        1450  -84.36212  33.84676
3        1600  -84.49773  33.68677
4        1645  -84.34875  33.75786